.jumbotron {
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/62/64/books-isolated-on-blue-background-vector-20936264.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    
}

h1 {
    color: #00008B
}